@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(250,250,250);
}

section.login {
    width: 340px;
    margin: auto;
    height: 500px;
    margin-top: 40px;
    border: 1px solid #64646467;
    background-color: rgb(255,255,255);
}

.logo img {
    padding-left: 85px;
    padding-top: 50px;
}

.forms {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.forms input {
    width: 250px;
    padding: 9px;
    margin-left: 40px;
    margin-top: 7px;
    border: 1px solid #64646462;
    border-radius: 4px;
}
.forms input::placeholder {
    font-size: .9em;
    color: #646464b7;
    margin-left: 5px;
}

.link {
    margin-top: 13px;
}

.forms a {
    background-color: rgb(178,223,252);
    margin-left: 41px;
    color: white;
    text-decoration: none;
    font-size: .9em;
    width: 103px;
    padding: 7px 83px;
    border-radius: 3px;
}